<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>StickyBoard 3000</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <%= tag 'link', :rel => 'home', :href => root_url %>
    <link rel="contents" href="#content" />
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :head %>
  </head>
  <body>

    <div id="container-wrapper">
      <div id="container">

        <div id="posts-wrapper">
          <div id="posts">

            <%= render :partial => "logins/sidebar" %>

            <%= yield %>

          </div>
        </div>

        <div id="twits-wrapper">
          <div id="twits">
            
            <%= yield :twits %>

          </div>
        </div>

      </div>
    </div>

  </body>
</html>
